<a href="https://colab.research.google.com/github/Habbeyjojo/Habbeyjojo/blob/main/2_Python_2nd_session_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data
Collection of information(number,text,boolean)

**Basic Types of data**
* Numeric data
* Boolean data
* Strings

In [ ]:
x = "Abhishek"
y = 123
q = 34.678
z = True
a = False

# age1 = 3

# print(name)
print(type(x))
print(type(y))
print(type(q))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Numeric data
Numeric data is represented in the form numbers.
* Integers
* float

In [ ]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

# Integers
Integers are whole numbers without decimal.
There can be positive integers,negative integers including.

Eg: 2,3,4,-10,-13,-19,0

In [ ]:
# define integer 10 and check its data type
# variable_name = value

number = 10
print(number)
print(type(number))

# type : is a function used to find data type of any variable
# print is a function used to display value of variable
# variable is number
# 10 is a value

10.0
<class 'float'>

In [ ]:
# define integer -20 and check its data type
a = -20
print(a)
print(type(a)) #int stands for integer

-20
<class 'int'>

# Float
Numbers which are represented in the form of decimals.

Eg: 2.3 ,3.4,-4.5,-6.7 ,0.0

In [ ]:
# define float 3.4 and check its data type
x = 3.9
print(x)
print(type(x))

3.9
<class 'float'>

In [ ]:
y = 0
z = 0.0
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>

In [ ]:
x = 5
y = 2
print(type(x))
print(type(y))
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(type(x+y))
print(type(x-y))
print(type(x*y))
print(type(x/y))

<class 'int'>
<class 'int'>
7
3
10
2.5
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
10+23+5.0

38.0

In [ ]:
20*20*2.1

840.0

In [ ]:
10/3

3.3333333333333335

In [ ]:
5/2

2.5

In [ ]:
# define -5.6 and find its data type

p = -5.6
print(p)
print(type(p))

-5.6
<class 'float'>

# Boolean
Boolean data is represented in the form of True or False.

* Integer value of True is 1
* Integer value of False is 0

In [ ]:
# define boolean value True and find its data type
m = True
print(m)
print(type(m))

True
<class 'bool'>

In [ ]:
# define boolean value False and find its data type
n = False
print(n)
print(type(n))

False
<class 'bool'>

In [ ]:
x = 5.6, 5, 6, 7
print(type(x))
print(type(int(x)))

<class 'float'>
<class 'int'>

In [ ]:
float(True) # integer value of True

1.0

In [ ]:
# iinteger value of False
int(False)

0

# Strings
String are text kind of data made up of sequence of characters(alphabets-numbers-specialchars) which is enclosed within quotes('' ,"" , ''' ''' , """ """)

# single line strings
Single strings are sequence of characters that are defined within single quotes (' ') or double quotes(" ") in a single line.

In [ ]:
# define your name and check its type
First_name = 'Abhishek'
first_name = "abhishek"
imdb_score = [7.5,5,8.9,6.8]
imdb_score_str = ['7.5', '5', '8.9']
Last_name = 'Parihar'
x = "True"
z = True
y = 123,12,14
Full_name = First_name + ' ' + Last_name +1
Full_name
print(Full_name)
print(type(x))
# print(name)
# print(type(name))
# print()
print(x+12)
print(First_name)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# define your place and check its type
place = "123"
print(place)
print(type(place))

123
<class 'str'>

In [ ]:
print('')

In [ ]:
print('lets do123$%^&& coding')

lets do coding

In [ ]:
# define Life's crazy
quote = "Life's crazy"
print(quote)

Life's crazy

In [ ]:
quote ="Life's crazy"
print(quote)

Life's crazy

In [ ]:
quote ="Life's crazy" # use one backslash before apostrophe
print(quote)

Life's crazy

In [ ]:
'hi', "hi", '''hi'''

('hi', 'hi', 'hi')

# Multiline strings
Strings defined in multiple lines are enclosed within triple single quote(''' ''') or triple double quotes(""" """)

In [ ]:
text1 = '''python is easy
sql is easy
Ml is easy'''
print(text1)
print(type(text1))

python is easy
sql is easy
Ml is easy
<class 'str'>

In [ ]:
text = """python is easy
sql is easy
Ml is easy"""
print(text)
print(type(text))

python is easy
sql is easy
Ml is easy
<class 'str'>

# Advance data types
# Basic datastructures
* List
* Tuple
* set
* dict

# Datastructures
Datastructures are used to store multiple values of any data type in a single variable.

# Type of datastructures
* List
* Tuple
* set
* dict

# List
List is a datastructure used to store multiple values of any data type in a single variable.

# How to create list??
Lists are created using [ ] by seperating values with comma (,).

In [ ]:
lang = ["python","sql",'java']

In [ ]:
#  create list store values like 100,200,300,400,500
numbers = [100, 200 , 300 , 400 , 500]
print(numbers)
print(type(numbers))

[100, 200, 300, 400, 500]
<class 'list'>

In [ ]:
x = 2+3j
print(type(x))
list = [True, False, True, 2.7, 'Abhi',2+3j ]
print(list)
print(type(list))

<class 'complex'>
[True, False, True, 2.7, 'Abhi', (2+3j)]
<class 'list'>

In [ ]:
# create list to store values like blue,green,orange,pink
colors = ["blue" , 'green' ,'orange' , 'pink']
print(colors)
print(type(colors))

['blue', 'green', 'orange', 'pink']
<class 'list'>

In [ ]:
#  create list to store values like 1000 , 3.4 , 5+7j , True , python
A = [1000 , 3.4 , 5+4j ,True ,"python"]
print(A)
print(type(A))

[1000, 3.4, (5+4j), True, 'python']
<class 'list'>

In [ ]:
a=[1000 , 3.4 , 5+7j , True, 'python']
print(a)
print(type(a))

[1000, 3.4, (5+7j), True, 'python']
<class 'list'>

In [ ]:
y = 'pythonas'
print(y)
print(type(y))
print(len(y))

pythonas
<class 'str'>
8

In [ ]:
B = ['sql','python','abhishek',9]
print(B)
print(len(B))

['sql', 'python', 'abhishek', 9]
4

In [ ]:
C = ['sql','python']
print(C)
print(len(C))

# len is a function used to find number of elements in a list

['sql', 'python']
2

In [ ]:
salary = [10000,20000,30000,40000]
# len: number of elements in list
print(len(salary))
print(sum(salary))

4
100000

In [ ]:
#sum: Used to find sum of elements in a list
#Total sum of salary
print(max(salary))

40000

In [ ]:
# max: used to find maximum element
# min : used to find minimum element
print(max(salary))
print(min(salary))

40000
10000

In [ ]:
# average= sum of elements / total number of elements
# average salary = sum of salary/len of salary
avg_sa = sum(salary)/len(salary)
print(avg_sa)
print(type(avg_sa))

25000.0
<class 'float'>

In [ ]:
skills = ['Python','sql','sql','R','Java','sql','Java']
# find count of sql
# count: Used to find how many times an element is repeated
print(skills.count('sql'))

3

# Properties of List
* Lists are ordered : All list elements are arrange in proper way because of this nature indexing and slicing is possible.
* Lists are Mutable : Lists elements are changeable(change , add,delete).
* Lists allow duplicates : List can have repeatative values

In [ ]:
A =[100,100,100,200,300]
print(A)

[100, 100, 100, 200, 300]

# Tuples
Tuples are used to store multiple values of any data type

# Ways to create tuple
Tuples are created using ( ) .

In [ ]:
# create a tuple to store values liek 10,20,30,40,50,10
A = (10,20,30,40,50,10)
print(A)
print(type(A))
# len
print(len(A))
# sum
print(sum(A))
# max
print(max(A))
#min
print(min(A))
# count of 10
print(A.count(10))

(10, 20, 30, 40, 50, 10)
<class 'tuple'>
6
160
50
10
2

In [ ]:
# create a tuple to store values like 100 , 3.5 , sql ,False , 5-3j
B = (100,3.5,'sql',False ,5-3j)
print(B)

(100, 3.5, 'sql', False, (5-3j))

# Properties of tuple
* Tuple are ordered: Indexing and slicing is possible
* Tuples are Immutable:We cannot change tuple elements.
* Tuples allow duplicates

# Set
Sets are used to store distinct values(unique values).

# how to create set?
Sets are created using {}

In [ ]:
# create a set to store values 1,2,3,4,5
A = {1,2,3,4,5,5}
B = (1,2,3,4,5)
C = [1,2,3,4,5]
print(A)
print(B)
print(C)
print(type(A))
print(type(B))
print(type(C))

{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
<class 'set'>
<class 'tuple'>
<class 'list'>

# Properties of set
*  Unordered: set elements do not have fixed positions.(It takes random places)
* Sets do not allow duplicates (no repeatative values)
* Sets are Mutable(we can add element at random position , we can remove element from set).
* Set elements are Immutable(Individual set element cannot be change).

In [ ]:
colors={'blue','green','orange','white','blue'}
print(colors)
# colors.append('pink')
# print(colors)

{'green', 'blue', 'orange', 'white'}

In [ ]:
salary = {70000,20000,30000,30000,40000,40000}
print(salary)
print(type(salary))

{70000, 30000, 40000, 20000}
<class 'set'>

# dict
IT stores information in the form of key:value pairs

In [ ]:
# create dict to store name , age , salary
info = {'name':'Cass','age':30 ,'salary':30000}
print(info)
print(type(info))

{'name': 'Cass', 'age': 30, 'salary': 30000}
<class 'dict'>

In [ ]:
# create dict to store skills = python , 10=number , employee=True , False =0
A = {'skills':'python' , 10:'number','employee':True , False:0}
print(A)
print(type(A))

{'skills': 'python', 10: 'number', 'employee': True, False: 0}
<class 'dict'>

In [ ]:
# create dict to store values place=Mumbai , salary = 40000 , experienced=True , 100 = hundred
place = "location"
list = [1,2,3]
tuple = (1,2,3)
set = {1,2,3}
dict = {'place':'Mumbai' , 'salary':40000 , 'experienced':True , 100:'hundred', 'Hamza':100}
print(dict)
print(type(dict))
print(type(list))
print(type(tuple))
print(type(set))

{'place': 'Mumbai', 'salary': 40000, 'experienced': True, 100: 'hundred', 'Hamza': 100}
<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [ ]:
# name='Ridaa' , name=zara ,age = 20
C ={'name':'zara','name':'Hamza','age':20,}
print(C)

{'name': 'Hamza', 'age': 20}

# Properties of dict.
* dict are ordered
* dicts are Mutable(changing is possible)
* Allows repeatative values but not keys.
* Keys are not changeable but values can be changed

In [ ]:
A = {'id':1, 'name':{'Abhishek','Tab'},'marks':[10,20,30]}
print(A)
print(len(A))

{'id': 1, 'name': {'Tab', 'Abhishek'}, 'marks': [10, 20, 30]}
3

In [ ]:
A={'name':'Abhishek','mentor':'manar' , 'name':'angel'}
print(A)

{'name': 'angel', 'mentor': 'manar'}

In [ ]:
''' Differences
   List          | Tuple                | set           |dict
ordered          | ordered              | Unordered     |ordered
Mutable          | Immutable            | Mutable       | Mutable
Allow duplicates | Allows duplicates    | No duplicates | No duplicate keys
 '''